/* CSS stylesheet for printing to do list */

/* General */

html {
  font-size: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 20px 0;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Layout */

.container {
  width: 750px;
  margin: 10px auto;
  background: #fff;
  padding-top: 20px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.row {
  display: block;
  padding: 10px;
  text-align: center;
  clear: both;
  overflow: hidden;
  margin: 0 5px;
}

.content {
  background: #fff;
}

/* Top Heading */

h1, h2, h4 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #666;
  text-align: center;
  font-weight: 400;
  margin: 0;
}

/* Task List */

.task-list {
  list-style-type: none;
  padding: 0 20px;
}

.task-item {
  border-top: 1px solid #e5e5e5;
  padding: 15px 0;
  color: #777;
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 0.5px;
  list-style-type: none;
}

.task-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.task-list .task-item:nth-child(even) {
  background: #fcfcfc;
}

.task-date {
  color: #95a5a6;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  float: right;
  display: inline;
  margin: 5px 10px 0 0;
  padding: 2px;
  border: 1px solid #95a5a6;
}

.fa-calendar {
  margin-right: 5px;
  font-size: 0.7em;
}

.complete-true {
  text-decoration: line-through;
  color: #bebebe;
}

/* Category and Priority Icons */

[class*='category-'],
[class*='priority-'] {
  display: inline-block;
  font-size: 0.65em;
  background: #fff;
  vertical-align: middle;
  color: #000;
  padding: 10px;
  width: 75px;
  text-align: center;
  border-radius: 2px;
  float: right;
  font-weight: normal;
  text-transform: uppercase;
  margin-right: 20px;
  border: 1px solid #000;
}
