/* CSS stylesheet for to do list app */

/* General */

html {
  font-size: 100%;
}

section {
  margin: 5% 0;
}

body {
  background-image: url("../img/background.jpg");
  font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/* Layout */

.container {
  width: 750px;
  margin: 10px auto;
  background: #fff;
  padding-top: 20px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 0 2px rgba(0,0,0,0.2);
}

.row {
  display: block;
  padding: 10px;
  text-align: center;
  clear: both;
  overflow: hidden;
  margin: 0 5px;
}

.third {
  width: 33%;
  float: left;
}

.twothirds {
  width: 67%;
  float: left;
}

.half {
  width: 50%;
  float: left;
}

.content {
  background: #fff;
}

/* Top Heading */

h1, h2, h4 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #666;
  text-align: center;
  font-weight: 400;
  margin: 0;
}

h2 {
  padding: 5px 0;
}

.today-date {
  text-align: right;
}

.subheader {
  text-align: center;
  padding: 5px 20px;
  font-size: 0.9em;
  font-weight: 600;
  color: #777;
}

/* Input Fields */

.input-container {
  height: 60px;
  border-top: 1px solid #e5e5e5;
  position: relative;
  overflow: hidden;
  font-size: 1.5em;
  line-height: 2em;
}

.task-input {
  height: 100px;
  line-height: 3.5em;
  font-size: 2.5em;
}

.input-container.last {
  border-bottom: 1px solid #e5e5e5;
}

.input-container.twothirds.right,
.input-container.half.right {
  border-left: 1px solid #efefef;
}

label {
  height: 100%;
  width: 35%;
  font-size: 0.9em;
  color: #777;
  margin-top: 8px;
  padding: 0 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
}

input[type="date"], input[type="text"], select {
  height: 100%;
  padding: 0 20px;
  position: absolute;
  top: 0;
  vertical-align: middle;
  display: inline-block;
  border: none;
  border-radius: none;
  font-size: 0.9em;
  color: #777;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  letter-spacing: 0.5px;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
}

input[type="text"] {
  width: 100%;
}

input[type="date"] {
  width: 65%;
  cursor: pointer;
}

input[type="date"]:focus, input[type="text"]:focus, select:focus {
  outline: none;
  background: #ecf0f1;
}

::-webkit-input-placeholder {
  color: lightgrey;
  font-weight: normal;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

::-moz-placeholder {
  color: lightgrey;
  font-weight: normal;
  transition: all 0.3s;
}

::-ms-input-placeholder {
  color: lightgrey;
  font-weight: normal;
  transition: all 0.3s;
}

input:-moz-placeholder {
  color: lightgrey;
  font-weight: normal;
  transition: all 0.3s;
}

input:focus::-webkit-input-placeholder {
  color: #95a5a6;
  font-weight: bold;
}

input:focus::-moz-input-placeholder {
  color: #95a5a6;
  font-weight: bold;
}

/* Custom Select Menus */

.task-category,
.task-priority,
.sort-by {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  padding-left: 16.5px;
  background: #fff;
}

.select-arrow {
  position: absolute;
  z-index: 10;
  top: 35%;
  right: 0;
  margin-right: 20px;
  color: #777;
  pointer-events: none;
}

.task-category option,
.task-priority option,
.sort-by option {
  background: #fff;
  border: none;
  outline: none;
  padding: 0 100px;
}

#category,
#priority,
#sorting {
  width: 100%;
}

/* Buttons */

button {
  font-family: 'Open Sans', sans-serif;
  background: transparent;
  border-radius: 2px;
  border: none;
  outline: none;
  height: 50px;
  width: 200px;
  font-size: 1.1em;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.task-add {
  background: #64a356;
  float: right;
  padding-right: 0;
  margin-right: 0;
}

.task-add:hover {
  background: #59914c;
}

.add-row {
  padding-right: 0;
  margin-right: 0;
}

.task-markall {
  background: #e7a23c;
  width: 120px;
  float: left;
  margin-right: 10px;
}

.task-markall:hover {
  background: #cf9136;
}

.task-delete {
  background: #e74c3c;
  width: 180px;
  float: left;
}

.task-delete:hover {
  background: #c0392b;
}

.tasks-button {
  width: 160px;
  background: #666;
}

.tasks-button:hover {
  background: #777;
}

.icon {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 1.5em;
}

/* Task List */

.task-list {
  list-style: none;
  padding: 0 20px;
}

.task-item {
  border-top: 1px solid #e5e5e5;
  padding: 15px 0;
  color: #777;
  font-weight: 600;
  font-size: 1.1em;
  letter-spacing: 0.5px;
}

.task-item:last-child {
  border-bottom: 1px solid #e5e5e5;
}

.task-item:nth-child(even) {
  background: #fcfcfc;
}

.task-item:hover {
  background: lightgrey;
  border-radius: 5px;
  transition: background 0.3s;
  -webkit-transition: background 0.3s;
}

.task-date {
  color: #95a5a6;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  float: right;
  display: inline;
  margin: 5px 10px 0 0;
  padding: 2px;
  border: 1px solid #95a5a6;
}

.fa-calendar {
  margin-right: 5px;
  font-size: 0.7em;
}

.complete-true {
  text-decoration: line-through;
  color: #bebebe;
}

/* Custom Checkbox */

.task-checkbox {
  appearance: none;
  -webkit-appearance: none;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  display: inline-block;
  cursor: pointer;
  width: 19px;
  height: 19px;
  vertical-align: middle;
  margin-right: 5px;
}

.task-checkbox:focus {
  outline: none !important;
}

.task-checkbox:before, .task-checkbox:checked:before {
  font-family: 'FontAwesome';
  color: #444;
  font-size: 20px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

.task-checkbox:before {
  content: '\f096';
}

.task-checkbox:checked:before {
  content: '\f14a';
  color: #16a085;
}

/* Category and Priority Icons */

[class*='category-'],
[class*='priority-'] {
  display: inline-block;
  font-size: 0.65em;
  background: #444;
  vertical-align: middle;
  color: #fff;
  padding: 10px;
  width: 75px;
  text-align: center;
  border-radius: 2px;
  float: right;
  font-weight: normal;
  text-transform: uppercase;
  margin-right: 20px;
}

.category-,
.priority- {
  background: transparent;
}

.category {
  background: #2980b9;
}

.priority-High {
  background: #ce5d52;
}

.priority-Medium {
  background: #e9b155;
}

.priority-Low {
  background: #70b660;
}

footer p {
  color: #2e2e2e;
  font-size: 1.25em;
  margin: 0 0 10px 10px;
}

/* Hidden */

.hidden {
  display: none;
}

/* Media Queries */

@media (max-width: 749px) {
  section {
    display: none;
  }
  footer {
    display: none;
  }
  .hidden {
    display: block !important;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    text-align: center;
    padding: 5px;
    margin: 5% 3%;
  }
  .hidden p {
    font-size: 1.24em;
    margin-bottom: 5px;
  }
  .hidden hr {
    margin: 5px 0;
  }
}