<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Christian McTighe">
    <title>Tasker</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro" rel="stylesheet">
    <script src="https://use.fontawesome.com/981382a342.js"></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.0.0/bootstrap-social.css">

    <!-- CSS stylesheet -->
    <link rel="stylesheet" href="css/styles.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- AngularJS -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

    <!-- FileSaver -->
    <script src="js/FileSaver.min.js"></script>

    <!-- Enable Date Field Selector on Various Browsers -->
    <script src="https://cdn.jsdelivr.net/webshim/1.14.5/polyfiller.js"></script>
    <script>
      webshims.setOptions('forms-ext', {types: 'date'});
      webshims.polyfill('forms forms-ext');
    </script>

    <!-- Angular and JavaScript scripts -->
    <script src="js/app.js"></script>
  </head>

  <body ng-app="Tasker">

    <section ng-controller="TaskController">

      <div class="container">
        <div class="content">

          <!-- Today's Date -->
          <h4 class="today-date">{{today | date : 'EEEE, d MMMM y'}}</h4>
          <hr>

          <h1>Tasker</h1>
          <p class="subheader">A Dynamic To Do List Built with AngularJS</p>

          <!-- New Task Input Form -->
          <form>
            <div class="input-container task-input">
              <input type="text" id="description" class="task-name" placeholder="To do..." maxlength="25" ng-model="newTask">
            </div>

            <div class="input-container third">
              <i class="fa fa-caret-down select-arrow"></i>
              <select id="category" class="task-category" ng-model="newTaskCategory" ng-options="obj.name for obj in categories">
                <option disabled value="">Category</option>
              </select>
            </div>

            <div class="input-container twothirds right">
              <input type="text" class="task-with" placeholder="With whom?" maxlength="15" ng-model="newTaskWith">
            </div>

            <div class="input-container third last">
              <i class="fa fa-caret-down select-arrow"></i>
              <select id="priority" class="task-priority" ng-model="newTaskPriority" ng-options="obj.level for obj in priorities">
                <option disabled value="">Priority</option>
              </select>
            </div>

            <div class="input-container twothirds last right">
              <label for="deadline">Deadline:</label>
              <input type="date" id="deadline" class="task-date" ng-model="newTaskDate">
            </div>

            <div class="row add-row">
              <button class="task-add" ng-click="addNew()"><i class="fa fa-plus icon"></i>Add Task</button>
            </div>
          </form>

        </div><!-- end of .content -->
      </div><!-- end of .container -->

      <div class="container">
        <div class="content">

          <form>
            <!-- Search Field -->
            <div class="input-container half last">
              <input type="text" class="search" placeholder="Search keyword" maxlength="15" ng-model="taskSearch">
            </div>
            <!-- Task Sorting -->
            <div class="input-container half right last">
              <i class="fa fa-caret-down select-arrow"></i>
              <select id="sorting" class="sort-by" ng-model="sortBy">
                <option disabled value="">Sort By</option>
                <option value="index">Oldest First</option>
                <option value="priority.number">Priority</option>
                <option value="date">Deadline</option>
              </select>
            </div>
          </form>

          <div class="row">
            <h2>Things To Do</h2>
          </div>

          <!-- List of Tasks -->
          <ul  class="task-list" id="todo-list">
            <li class="task-item" ng-repeat="taskItem in taskItem | filter:taskSearch | orderBy:sortBy track by $index" ng-model="taskItem">
              <input type="checkbox" class="task-checkbox" ng-model="taskItem.complete" ng-change="save()">
              <span class="complete-{{taskItem.complete}}">{{taskItem.description}}</span>
              <span class="complete-{{taskItem.complete}}" ng-show="taskItem.with">(with {{taskItem.with}})</span>
              <span class="priority-{{taskItem.priority.level}}" ng-show="taskItem.priority">{{taskItem.priority.level}}</span>
              <span class="category category-{{taskItem.category}}" ng-show="taskItem.category">{{taskItem.category}}</span>
              <strong class="task-date complete-{{taskItem.complete}}" ng-show="taskItem.date"><i class="fa fa-calendar"></i>{{taskItem.date | date : 'd MMM y'}}</strong>
            </li>
          </ul>

          <!-- Lower Buttons -->
          <div class="row">
            <button class="task-markall" ng-click="markAll()"></i>Mark All</button>
            <button class="task-markall" ng-click="unmarkAll()"></i>Unmark All</button>
            <button class="task-delete" ng-click="deleteTasks()"><i class="fa fa-trash-o icon"></i>Clear Finished</button>
          </div>

          <div class="row">
            <button class="tasks-button" ng-click="printTasks()"><i class="fa fa-print icon"></i>Print</button>
            <button class="tasks-button" ng-click="saveFileTasks()"><i class="fa fa-floppy-o icon"></i>Save To File</button>
            <button class="tasks-button" ng-click="emailTasks()"><i class="fa fa-envelope-o icon"></i>E-Mail</button>
          </div>

        </div><!-- end of .content -->
      </div><!-- end of .container -->

    </section>

    <footer>
      <p>Coded by Hand.<br>
      &copy; 2016, Christian McTighe.</p>
    </footer>

    <!-- Hidden Message for Small Screens -->
    <div class="hidden">
      <h1>Tasker</h1>
      <p class="subheader">A Dynamic To Do List Built with AngularJS</p>
      <hr>
      <p>Sorry, your device's screen is too small.<br>
      Please view on a larger screen.</p>
    </div>

  </body>

</html>
